{% load percentage %}
<div id="race_{{ race.pk }}">

    <div class="race_header">
        <span class="venue"><a href="{{ race.link_self }}" target="_blank">
            [{{ race.meeting.location }}]
            [{{ race.meeting.race_type }}]
            {{ race.meeting.name }} &mdash;
            {{ race.number }}
        </a></span>
        <span class="title">
            {{ race.name|title }}
        </span>
        <span class="time">
            {{ race.start_time|time:"H:i" }} &mdash;
            {{ race.start_time|timeuntil }}
        </span>
    </div>

    <div class="race_header">
        <span>Betfair</span>
        {% if not race.betfair_event %}
            <span>&mdash;</span>
            <span>&mdash;</span>
        {% else %}
            <span>ID: {{ race.betfair_event.event_id }}</span>
            <span>{{ race.betfair_event.market_set.all|length }} markets</span>
            <span>{% for market in race.betfair_event.market_set.all %}
                [{{ market.type }} {{ market.market_id }}]
            {% endfor %}</span>
        {% endif %}
    </div>

    <div class="race_body">
        <table cellpadding="1" border="1">
            <thead>
            <tr>
                <td>Number</td>
                <td>Name</td>
                <td class="blue">Back</td>
                <td>Est</td>
                <td class="pink">Lay</td>
                <td colspan="5">Win odds</td>
                <td>Change</td>
            </tr>
            </thead>
            <tbody>
            {% for r in race.runner_set.all %}
                <tr>
                    <td>{{ r.runner_number }}</td>
                    <td>{% if r.fixed_betting_status != 'Open' %}
                        <del>{{ r.name }}</del>
                    {% else %}
                        {{ r.name }}
                    {% endif %}</td>
                    {% if r.fixed_betting_status != 'Open' %}
                        <td colspan="9"></td>
                    {% else %}
                        <td class="blue">{{ r.fo.first.win_back|odds }}</td>
                        <td>{{ r.fo.first.win_est|as_odds|odds }}</td>
                        <td class="pink">{{ r.fo.first.win_lay|odds }}</td>
                        {% for fo in r.fo %}
                            <td>{{ fo.win_dec }}</td>
                        {% endfor %}
                        <td>{{ r.odds_change|percentage:0 }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
