{% load percentage %}
<div id="sidebar">
    <h2>Tab</h2>
    <p>Races: {{ tab_bucket_overall.count }}</p>
    <p>Error: {{ tab_error|percentage }}</p>
    <p>{{ tab_buckets|length }} Buckets</p>
    <table border="1" cellspacing="1">
        <thead>
        <tr>
            <td>Bucket</td>
            <td>Size</td>
            <td>Wins</td>
            <td>Win mean</td>
            <td>Coef</td>
            <td>Intercept</td>
        </tr>
        </thead>
        <tbody>
        {% for bucket in tab_buckets %}
            <tr>
                <td>{{ bucket.left|as_odds|odds }} &mdash; {{ bucket.right|as_odds|odds }}</td>
                <td>{{ bucket.total }}</td>
                <td>{{ bucket.count }}</td>
                <td>{{ bucket.win_mean|percentage }}</td>
                <td>{{ bucket.coef|floatformat:2 }}</td>
                <td>{{ bucket.intercept|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </dl>

    <br/>
    <hr/>
    <br/>

    <h3>Est acc: {{ est_acc|percentage }}</h3>
    <h2>ROI: {{ roi|percentage }}</h2>
    <h2>{{ outstanding|length }} bets outstanding</h2>
    <p>Betting: {% if betting %}
        <a href="/betting">on</a>
    {% else %}
        <a href="/betting">off</a>
    {% endif %}</p>
    <p>{{ backs_pp|floatformat:2 }} backs {{ backs_roi|percentage }} roi</p>
    <p>{{ lays_pp|floatformat:2 }} lays {{ lays_roi|percentage }} roi</p>

    <br/>
    <hr/>
    <br/>

    <h2>BetFair</h2>
    <p>Races: {{ bf_bucket_overall.count }}</p>
    <p>Error: {{ bf_error|percentage }}</p>
    <p>{{ bf_buckets|length }} Buckets</p>
    <table border="1" cellspacing="1">
        <thead>
        <tr>
            <td>Bucket</td>
            <td>Size</td>
            <td>Wins</td>
            <td>Win mean</td>
            <td>Coef</td>
            <td>Intercept</td>
        </tr>
        </thead>
        <tbody>
        {% for bucket in bf_buckets %}
            <tr>
                <td>{{ bucket.left|as_odds|odds }} &mdash; {{ bucket.right|as_odds|odds }}</td>
                <td>{{ bucket.total }}</td>
                <td>{{ bucket.count }}</td>
                <td>{{ bucket.win_mean|percentage }}</td>
                <td>{{ bucket.coef|floatformat:2 }}</td>
                <td>{{ bucket.intercept|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </dl>

</div>
