{% load percentage %}
<div id="sidebar">
    <h2>Tab</h2>
    <p>Races: {{ tab_bucket_overall.count }}</p>
    <p>{{ tab_buckets|length }} Buckets</p>
    <table border="1" cellspacing="1">
        <thead>
        <tr>
            <td>Bucket</td>
            <td>Size</td>
            <td>Wins</td>
            <td>Win mean</td>
            <td>Coef</td>
            <td>Intercept</td>
        </tr>
        </thead>
        <tbody>
        {% for bucket in tab_buckets %}
            <tr>
                <td>{{ bucket.left|as_odds|odds }} &mdash; {{ bucket.right|as_odds|odds }}</td>
                <td>{{ bucket.total }}</td>
                <td>{{ bucket.count }}</td>
                <td>{{ bucket.win_mean|percentage }}</td>
                <td>{{ bucket.coef|floatformat:2 }}</td>
                <td>{{ bucket.intercept|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </dl>

    <br/>
    <hr/>
    <br/>

    <h2>BetFair</h2>
    <p>Races: {{ bf_bucket_overall.count }}</p>
    <p>{{ bf_buckets|length }} Buckets</p>
    <table border="1" cellspacing="1">
        <thead>
        <tr>
            <td>Bucket</td>
            <td>Size</td>
            <td>Wins</td>
            <td>Win mean</td>
            <td>Coef</td>
            <td>Intercept</td>
        </tr>
        </thead>
        <tbody>
        {% for bucket in bf_buckets %}
            <tr>
                <td>{{ bucket.left|as_odds|odds }} &mdash; {{ bucket.right|as_odds|odds }}</td>
                <td>{{ bucket.total }}</td>
                <td>{{ bucket.count }}</td>
                <td>{{ bucket.win_mean|percentage }}</td>
                <td>{{ bucket.coef|floatformat:2 }}</td>
                <td>{{ bucket.intercept|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </dl>

</div>
